BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif
}
BODY {
	margin: 0px;
	padding:0px;
	text-align:center;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #444444;
	word-break:break-all;
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}

TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none;
	text-align:left;
	padding-left:10px;
	line-height:21px;
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	font-size:14px;line-height:28px;text-align:left;padding-left:10px;padding-right:10px;
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal;color:#222222;text-align:left;padding-left:10px;padding-right:10px;
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}

.sp-dashed {
	BACKGROUND: url(/images/front/sp-dashed.jpg) repeat-x; OVERFLOW: hidden; HEIGHT: 1px;margin:10px 10px 10px 10px;
}









Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
abbr {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.red {
	COLOR: #ff6600
}
A:link { color:#444444; text-decoration: none; }
A:visited { color:#444444; text-decoration:none }
A:hover { color:#ff0000; text-decoration: none }
A:active { color:#444444; text-decoration: none }

A.gay_666:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gay_666:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gay_666:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ali01 {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.ali01:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.ali01:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.ali01 {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.ali01:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}






#gn {
	BACKGROUND: #eeeeee; WIDTH: 100%;  HEIGHT: 27px
}
#gn .mid {
	MARGIN: 0px auto; WIDTH: 100%;  HEIGHT: 27px
}
#gn .mid .cen {
	MARGIN: 0px auto;  HEIGHT: 27px
}
#gn .mid .cen P {
	PADDING-LEFT: 4px; FLOAT: left; LINE-HEIGHT: 22px; PADDING-TOP: 4px;
}
#gn .mid .cen P B {
	COLOR: #127f00
}

#gn .mid .cen P A.top-red:link {
	COLOR: #ff0000
}
#gn .mid .cen P A:visited {
	COLOR: #ff0000
}
#gn .mid .cen SPAN {
	PADDING-RIGHT: 2px; FLOAT: right; PADDING-TOP: 4px; HEIGHT: 22px;LINE-HEIGHT: 22px;
}
#gn .mid form INPUT {
	BORDER: #90b4cc 1px solid;  WIDTH: 80px; HEIGHT: 16px;
}



.lo {
	MARGIN: 3px auto; WIDTH: 980px; HEIGHT: 60px; margin-bottom:1px;
}
.lo .logo {FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; PADDING-TOP: 0px;}

.lo .benner-l {
	margin-left:13px; FLOAT: left; WIDTH: 437px; HEIGHT: 60px; BACKGROUND: #ffffff; line-height:30px;
}
.lo .benner-l p{
	FLOAT: left; WIDTH: 437px; HEIGHT: 54px; line-height:22px; text-align:left;padding-top:10px;
}

.lo .benner-r{
	FLOAT: left; WIDTH: 330px; HEIGHT: 60px; BACKGROUND: #ffffff; line-height:30px;
}



.lo .benner {
	FLOAT: left; WIDTH: 760px; PADDING-TOP: 0px;margin-left:20px;
}




.pd {
	MARGIN: 0px auto; margin-bottom:1px; WIDTH: 980px; HEIGHT: 50px; border: #6FC solid 1px;
}
.pd UL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 44px
}
.pd UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.pd UL LI B {
	FONT-WEIGHT: bold; COLOR: #127f00
}
.pd UL.pdul {
	FLOAT: left; WIDTH: 540px; padding-left:20px;
}
.pd UL.zcul {
	FLOAT: right; WIDTH: 335px;
}






#top_line4 {
	FONT-SIZE: 12px; MARGIN: auto; OVERFLOW: hidden; WIDTH: 980px; LINE-HEIGHT: 33px; HEIGHT: 33px;BACKGROUND: url(/images/front/top-line4.jpg);
}
#top_line4 .dh_1 {
	FONT-SIZE: 12px;  FLOAT: left; WIDTH: 3px; LINE-HEIGHT: 33px; HEIGHT: 33px
}
#top_line4 .dh_2 {
	FONT-SIZE: 12px;  FLOAT: left; WIDTH: 958px; LINE-HEIGHT: 33px; HEIGHT: 33px
}
#top_line4 .dh_2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 33px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 33px
}
#top_line4 .dh_2 UL LI {
	FONT-SIZE: 15px; FLOAT: left
}

#top_line4 .dh_2 .style_1 .left1_1 A {
	COLOR: #ffffff; TEXT-DECORATION: none;font-weight:900;
}
#top_line4 .dh_2 .style_1 .left1_1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px
}

#top_line4 .dh_2 .style_1 .left1_1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px;
}

#top_line4 .dh_2 .style_1 .left1_2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px;
}
#top_line4 .dh_2 .style_1 .left1_2 a{
	COLOR: #ffff00;font-weight:900;
}


.hangye{
	BORDER: #6FC 1px solid;MARGIN: auto; OVERFLOW: hidden;WIDTH: 978px;height:30px;LINE-HEIGHT: 30px;font-size:10pt;font-weight:900;color:#990000;text-align:left;background-color: #e1eef7;
}

.hangye a{
	color:#511E00;font-weight:500;
}

.hangye a:hover{
	color:#C01410;font-weight:600;
}


.ad-top {
	BORDER: #6FC 1px solid;  MARGIN: 0px auto; WIDTH: 978px;  HEIGHT: 70px;
}

.so {
	BORDER: #6FC 1px solid;  BACKGROUND:#e1eef7; MARGIN: 0px auto 0px;  WIDTH: 978px; margin-TOP: 5px;  HEIGHT: 31px;
}
.so .so-nr {
	margin-left:10px; FLOAT: left; WIDTH: 395px; HEIGHT: 27px; 
}
.so .so-nr INPUT {
	BORDER: #89d859 1px solid; WIDTH: 165px; LINE-HEIGHT: 22px;  HEIGHT: 22px
}
.so .so-nr SELECT {
	HEIGHT: 22px
}
.so .so-nr .sobd2 {
	FLOAT: left; WIDTH: 200px; HEIGHT: 27px
}
.so .so-nr .sobd2 IMG {
	PADDING-RIGHT: 5px; FLOAT: left
}
.so .so-nr .so-zi2 {
	FLOAT: left; PADDING-TOP: 2px; HEIGHT: 20px;
}
.so .so-nr .so-zi2 select {
	WIDTH: 80px;
}
.so .so-nr .so-zi3 {
	FLOAT: left; HEIGHT: 25px;margin-left:5px;
}
.so .so-nr .so-zi3 INPUT {
	BACKGROUND: url("/images/front/tu11.jpg"); WIDTH: 87px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}


.so .so-nr2  {
	margin-left:5px; FLOAT: left; OVERFLOW: hidden; WIDTH: 550px; COLOR: #333; LINE-HEIGHT: 22px; PADDING-TOP: 4px; HEIGHT: 24px;
}

.so .so-nr2  h2 {
	margin:0; padding:0;font-size: 12px;color: #09f; display : inline
}
.so .so-nr2  h2 A {
	COLOR: #333
}




.footer {
	MARGIN: 5px auto 0px; OVERFLOW: hidden; WIDTH: 980px; POSITION: relative; TEXT-ALIGN: center
}
.footer .foot-nav {
	OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 26px; HEIGHT: 26px; BACKGROUND-COLOR: #3d7faf; TEXT-ALIGN: center
}
.footer .foot-nav A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; COLOR: #ffffff; TEXT-DECORATION: none;font-size:13px;
}
.footer .copyright {
	LINE-HEIGHT: 24px; PADDING-TOP: 5px; TEXT-ALIGN: center
}



